@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Outfit', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.breakpoint-size {
    width: 375px;
    background: #FCFAF9;
}

a { text-decoration: none; }

p { 
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
 }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Big Shoulders Display', cursive;
}

h1, h2, h3, h4, h5 {
    font-weight: 900;
}

h6 {
    font-weight: 800;
}
                                   /*HEADER MOBILE*/
.header-aside > h1 {
    width: 343px;
    height: 110px;
    font-size: 60px;
    line-height: 55px;
    color: #151515;
    margin-top: 32px;
    margin-left: 16px;
}

.header-aside > p {
    width: 343px;
    height: 112px;
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 18px;
    line-height: 28px;

    color: #444444;
}

.ourlocation-container {
    width: 204px;
    height: 72px;
    background: #151515;

    display: flex;
    justify-content: center;
    align-items: center;
}


.ourlocation-container > h6 {
    font-size: 20px;
    letter-spacing: 3.64px;
    color: white;
}

.arrowright-container {
    width: 56px;
    height: 72px;
    background: #d5966c;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-next {
    display: flex;
    margin-left: 16px;
    margin-top: 32px;
}


                    /*MAIN MOBILE*/
.main {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 120px;

}

.variant-h2-1  {
    margin-top: 25px;
    height: 90px;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    
    color: #151515;
}

.main-grid1-texts > p {
    width: 343px;
    height: 112px;
    font-size: 18px;
    line-height: 28px;
    margin-top: 21px;

    color: #444444;
}

.grid2-mobile {
    margin-top: 32px;
}

.grid3-mobile {
    margin-top: 16px;
}

.main-container2 {
     margin-top: 16px;
     width: 343px;
     height: 293px;
     background: #151515;

     padding: 48px 24px 47px 24px;
}

.main-container2 > h3 {
    font-size: 50px;
    line-height: 45px;
    color: white;
}

.main-container2 > p {
    margin-top: 24px;
    font-size: 18px;
    line-height: 28px;
    color: white;
}

                    /*FOOTER(DARK) MOBILE*/
.footer {
    width: 375px;
    height: 336px;
    background: #151515;
    margin-top: 120px;

    padding: 48px 32px 48px 32px;
    
}

.footer > p {
    margin-top: 38px;
    font-size: 16px;
    line-height: 26px;

    color: white;
}

.social-container  {
    display: flex;
    margin-top: 38px;
    gap: 20px;
}



/*************Location Page (MOBILE)*****************/

.map-image_mobile {
    position: relative;
}

.arrowleft-container {
    width: 56px;
    height: 72px;
    background: #d5966c;

    display: flex;
    justify-content: center;
    align-items: center;
}

.backtohome-container {
    width: 208px;
    height: 72px;
    background: #151515;

    display: flex;
    justify-content: center;
    align-items: center;
}

.backtohome-container > h6 {
    font-size: 20px;
    letter-spacing: 3.64px;

    color: white;
}

.button-back {
    display: flex;
    position: absolute;

    margin-top: -554px;
}

                        /*Location-Main (mobile)*/
.location-main {
    width: 375px;
    height: 493px;
    background: #151515;

    padding: 48px 16px 56px 16px;

    margin-top: -4px;
}

.location-title{
    font-size: 50px;
    color: white;
}

.location-flex > h5 {
    font-size: 32px;
    color: #d5966c;
    margin-top: 48px;
    text-transform: uppercase;
}

.add > p {
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    color: white;
}

.add { margin-top: 20px; }

.location-flex > p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
    color: white;
}

                        /*******Location FOOTER*/
.location-footer {
    width: 375px;
    height: 336px;
    background: #d5966c;

    padding: 48px 32px 48px 32px;
}

.location-footer > p {
    margin-top: 38px;
    font-size: 16px;
    line-height: 26px;
    color: #151515;
}

.social-container_location {
    display: flex;
    margin-top: 38px;
    gap: 20px;
}




/********************Tablet Size****************************/

@media only screen and (max-width: 767px) {
    .hero-image_tablet {
        display: none;
    }

    .variant-h2-2 {
        display: none;
    }

    .grid1-tablet,
    .grid2-tablet,
    .grid3-tablet {
        display: none;
    }

    .map-image_tablet {
        display: none;
    }
}

@media only screen and (min-width: 768px) {

    .breakpoint-size {
        width: 768px;
        background: white;
    }
                             /*HEADER TABLET*/
    .hero-image_mobile {
        display: none;
    }

    .header-aside {
        margin-top: 145px;
        margin-left: -40px;
    }

    .header-aside > h1 {
        width: 339px;
        height: 130px;
        font-size: 70px;
        line-height: 65px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .header-aside > p {
        width: 339px;
        margin-top: 48px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .button-next {
        margin-left: 0px;
        margin-top: 48px;
    }

    .header {
        display: flex;
    }
                        
                        /*MAIN TABLET*/
    .variant-h2-1 {
        display: none;
    }

    .variant-h2-2 {
        width: 223px;
        height: 135px;
        font-size: 50px;
        line-height: 45px;
        color: #151515;
        text-transform: uppercase;
    }

    .main-grid1-texts > p {
        width: 223px;
        height: 140px;
        margin-top: 24px;
    }

    .main {
        padding-left: 39px;
        padding-right: 40px;
    }

    .main-container1 {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        
    }

    .grid1-mobile,
    .grid2-mobile,
    .grid3-mobile {
        display: none;
    }

    .grid2-tablet {
        margin-top: 11px;
    }

    .grid3-tablet {
        display: flex;
        margin-left: 409px;
        margin-top: -724px;
    }

    .main-container2 {
        margin-left: 409px;
        margin-top: 11px;
        width: 280px;
        height: 396px;
   
        padding: 85px 28px 85px 29px;
   }
                                 /*Footer Tablet*/
   .footer {
    display: flex;
    width: 768px;
    height: 216px;

    padding: 56px 40px 56px 39px;
    
}

.footer > p {
    margin-top: 0px;
    margin-left: 65px;
    width: 281px;
    height: 104px;
}

.social-container  {
    margin-top: 0px;
    margin-left: 133px;
}







/**********************************************************Location PAGE*******************************************/


.map-image_mobile {
    display: none;
}

.map-image_tablet {
    position: relative;
}

.button-back {
    display: flex;
    position: absolute;
    margin-left: 39px;
    margin-top: -604px;
}

                            /*Location-Main (TABLET)*/
.location-main {
    width: 768px;
    height: 436px;

    padding: 88px 40px 80px 39px;

    display: flex;
    justify-content: space-between;
}

.location-title {
    font-size: 55px;
    line-height: 50px;
    width: 223px;
    height: 100px;
}

.location-flex > h5 {
    margin-top: 0px;
}

.location-flex > p {
    width: 398px;
    height: 112px;
}

                                          /*LOcation Footer (tablet)*/
.location-footer {
    width: 768px;
    height: 216px;

    padding: 56px 40px 56px 39px;

    display: flex;
}

.location-footer > p {
    margin-top: 0px;
    width: 281px;
    height: 104px;
    margin-left: 65px;
}

.social-container_location {
    margin-top: 0px;
    margin-left: 133px;
}



   

   





}
