@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap');


/********************************************RESET CSS*************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Outfit', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

p { 
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
 }

a { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-family: 'Big Shoulders Display', cursive; }

h1, h2, h3, h4, h5 { font-weight: 900; }

h6 { font-weight: 800; }

                


/*******************************************Home Page  (Header) - Mobile***********************************************/
                                   

.breakpoint-size {
    width: 375px;
    background: #FCFAF9;
}
                                
.header-aside > h1 {
    width: 343px;
    height: 110px;
    margin-top: 32px;
    margin-left: 16px;
    font-size: 60px;
    line-height: 55px;

    color: #151515;
}

.header-aside > p {
    width: 343px;
    height: 112px;
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 18px;
    line-height: 28px;

    color: #444444;
}

.ourlocation-container {
    width: 204px;
    height: 72px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #151515;
}


.ourlocation-container > h6 {
    font-size: 20px;
    letter-spacing: 3.64px;
    color: white;
}

.arrowright-container {
    width: 56px;
    height: 72px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #d5966c;
}

.button-next {
    margin-left: 16px;
    margin-top: 32px;

    display: flex;
}



/******************************************Home Page (Main) - Mobile*************************************************/

.main {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 120px;
}

.variant-h2-1  {
    margin-top: 25px;
    height: 90px;
    line-height: 45px;
    font-size: 50px;
    
    text-transform: uppercase;
    color: #151515;
}

.main-grid1-texts > p {
    margin-top: 21px;
    width: 343px;
    height: 112px;
    line-height: 28px;
    font-size: 18px;
    
    color: #444444;
}

.grid2-mobile { margin-top: 32px; }

.grid3-mobile { margin-top: 16px; }

.main-container2 {
    margin-top: 16px;
    width: 343px;
    height: 293px;
    background: #151515;

    padding: 48px 24px 47px 24px;
}

.main-container2 > h3 {
    font-size: 50px;
    line-height: 45px;
    color: white;
}

.main-container2 > p {
    margin-top: 24px;
    font-size: 18px;
    line-height: 28px;
    color: white;
}


/*********************************************Home Page (Footer) - Mobile*********************************************/

.footer {
    width: 375px;
    height: 336px;
    background: #151515;
    margin-top: 120px;

    padding: 48px 32px 48px 32px;
}

.footer > p {
    margin-top: 38px;
    font-size: 16px;
    line-height: 26px;

    color: white;
}

.social-container  {
    display: flex;
    margin-top: 38px;
    gap: 20px;
}



/******************************************Location Page (Location Container) - Mobile********************************/
.map-image_mobile {
    position: relative;
}

.arrowleft-container {
    width: 56px;
    height: 72px;
    background: #d5966c;

    display: flex;
    justify-content: center;
    align-items: center;
}

.backtohome-container {
    width: 208px;
    height: 72px;
    background: #151515;

    display: flex;
    justify-content: center;
    align-items: center;
}

.backtohome-container > h6 {
    font-size: 20px;
    letter-spacing: 3.64px;

    color: white;
}

.button-back {
    display: flex;
    position: absolute;

    margin-top: -554px;
}



/********************************************Location Page (Location-main) - Mobile************************************/
.location-main {
    margin-top: -4px;
    width: 375px;
    height: 493px;
    background: #151515;

    padding: 48px 16px 56px 16px;
}

.location-title{
    font-size: 50px;
    color: white;
}

.location-flex > h5 {
    font-size: 32px;
    color: #d5966c;
    margin-top: 48px;
    text-transform: uppercase;
}

.add > p {
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    color: white;
}

.add { margin-top: 20px; }

.location-flex > p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
    color: white;
}



/*********************************************Location Page (location-footer) - Mobile*******************************/

.location-footer {
    width: 375px;
    height: 336px;
    background: #d5966c;

    padding: 48px 32px 48px 32px;
}

.location-footer > p {
    margin-top: 38px;
    font-size: 16px;
    line-height: 26px;
    color: #151515;
}

.social-container_location {
    display: flex;
    margin-top: 38px;
    gap: 20px;
}






/**************************************************Tablet Size********************************************************/

@media only screen and (max-width: 767px) {

    .hero-image_tablet { display: none; }

    .variant-h2-2 { display: none; }

    .grid1-tablet,
    .grid2-tablet,
    .grid3-tablet {
        display: none;
    }

    .map-image_tablet { display: none; }
}

@media only screen and (min-width: 768px) {

    .breakpoint-size {
        width: 768px;
        background: white;
    }
                                /*HEADER*/
    .hero-image_mobile { display: none; }

    .header-aside {
        margin-top: 145px;
        margin-left: -40px;
    }

    .header-aside > h1 {
        width: 339px;
        height: 130px;
        font-size: 70px;
        line-height: 65px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .header-aside > p {
        width: 339px;
        margin-top: 48px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .button-next {
        margin-left: 0px;
        margin-top: 48px;
    }

    .header { display: flex; }


                        
                                /*MAIN*/
    .variant-h2-1 {
        display: none;
    }

    .variant-h2-2 {
        width: 223px;
        height: 135px;
        font-size: 50px;
        line-height: 45px;
        color: #151515;
        text-transform: uppercase;
    }

    .main-grid1-texts > p {
        width: 223px;
        height: 140px;
        margin-top: 24px;
    }

    .main {
        padding-left: 39px;
        padding-right: 40px;
    }

    .main-container1 {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .grid1-mobile,
    .grid2-mobile,
    .grid3-mobile {
        display: none;
    }

    .grid2-tablet { margin-top: 11px; }

    .grid3-tablet {
        display: flex;
        margin-left: 409px;
        margin-top: -724px;
    }

    .main-container2 {
        margin-left: 409px;
        margin-top: 11px;
        width: 280px;
        height: 396px;
   
        padding: 85px 28px 85px 29px;
   }




                            /*FOOTER*/
    .footer {
        display: flex;
        width: 768px;
        height: 216px;

        padding: 56px 40px 56px 39px;
    }

    .footer > p {
        margin-top: 0px;
        margin-left: 65px;
        width: 281px;
        height: 104px;
    }

    .social-container  {
        margin-top: 0px;
        margin-left: 133px;
    }

                                /*LOCATION P*/

    .map-image_mobile { display: none; }

    .map-image_tablet { position: relative; }

    .button-back {
        display: flex;
        position: absolute;
        margin-left: 39px;
        margin-top: -604px;
    }



                                /*LOCATION-Main*/
    .location-main {
        width: 768px;
        height: 436px;

        padding: 88px 40px 80px 39px;

        display: flex;
        justify-content: space-between;
    }

    .location-title {
        font-size: 55px;
        line-height: 50px;
        width: 223px;
        height: 100px;
    }

    .location-flex > h5 { margin-top: 0px; }

    .location-flex > p {
        width: 398px;
        height: 112px;
    }




                                /*LOCATION-FOOTER*/
    .location-footer {
        width: 768px;
        height: 216px;

        padding: 56px 40px 56px 39px;

        display: flex;
    }

    .location-footer > p {
        margin-top: 0px;
        width: 281px;
        height: 104px;
        margin-left: 65px;
    }

    .social-container_location {
        margin-top: 0px;
        margin-left: 133px;
    }
}








/**************************************************DESKTOP SIZE********************************************************/

@media only screen and (max-width: 1439px) {

    .black-container { display: none; }

    .hero-image_desktop { display: none; }

    .variant-h2-3 { display: none; }

    .grid1-desktop,
    .grid2-desktop,
    .grid3-desktop {
        display: none;
    }
    
    .map-image_desktop { display: none; }
}

@media only screen and (min-width: 1440px) {

                                /*HEADER*/
    .breakpoint-size { width: 1440px; }

    .black-container {
        width: 450px;
        height: 800px;
        background: #151515;
    }

    .hero-image_tablet { display: none; }

    .header-aside > h1 {
        width: 514px;
        height: 176px;
        font-size: 96px;
        line-height: 88px;
        color: white;

        margin-left: -826px;
        margin-top: 30px;
    }

    .blackpeace { color: #151515; }

    .header-aside > p {
        width: 350px;
        height: 160px;
        font-size: 22px;
        line-height: 32px;
        margin-top: -170px;
        margin-left: -24px;
    }

    .button-next {
        margin-top: 64px;
        margin-left: -24px;
    }

                                /*MAIN*/
    .main {
        padding-left: 165px;
        padding-right: 164px;
        margin-top: 180px;
    }

    .variant-h2-2 { display: none; }

    .variant-h2-3 {
        width: 350px;
        height: 120px;
        font-size: 60px;
        line-height: 60px;

        color: #151515;
        text-transform: uppercase;
    }

    .main-grid1-texts > p {
        width: 350px;
        height: 128px;

        font-size: 22px;
        line-height: 32px;
    }

    .grid1-tablet,
    .grid2-tablet,
    .grid3-tablet {
        display: none;
    }

    .grid2-desktop { margin-top: 30px; }

    .grid3-desktop { 
        display: flex;
        margin-left: 665px;
        margin-top: -724px;
    }

    .main-container2 {

        margin-left: 665px;
        margin-top: 30px;
        width: 445px;
        height: 377px;

        padding: 65px 47px 64px 48px;
    }

    .main-container2 > h3 {
        font-size: 60px;
        line-height: 60px;
    }

    .main-container2 > p {
        margin-top: 32px;
        font-size: 22px;
        line-height: 32px;
    }




                    
                                /*FOOTER*/
    .footer {
        width: 1440px;
        height: 244px;
    
        padding: 80px 165px 80px 165px;
    }
    
    .footer > p {
        margin-left: 140px;
        width: 430px;
        height: 84px;
        font-size: 18px;
        line-height: 28px;
    }
    
    .social-container  { margin-left: 280px; }




                                /*LOCATION D*/
    .map-image_tablet { display: none; }

    .button-back { margin-left: 156px; }


                                /*LOCATION-MAIN*/
    .location-main {
        width: 1440px;
        height: 548px;

        padding: 104px 165px 128px 165px;
    }

    .location-title > h4 {
        width: 350px;
        height: 140px;
        font-size: 70px;
        line-height: 70px;
    }

    .location-flex > h5 { font-size: 36px; }

    .add {
        font-size: 22px;
        line-height: 32px;
        margin-top: 24px;
    }

    .location-flex > p {
        margin-top: 32px;
        font-size: 22px;
        line-height: 32px;
        width: 540px;
        height: 128px;
    }




                                /*LOCATION-FOOTER*/
    .location-footer {
        width: 1440px;
        padding: 80px 165px 80px 165px;
    }

    .location-footer > p {
        width: 430px;
        height: 84px;
        font-size: 18px;
        line-height: 28px;

        margin-left: 140px;
    }
    
    .social-container_location {
        margin-left: 280px; }
    }